animatedlogin@ \\wsl.localhost\Ubuntu\home\albert\MyAnimatedLogin
+-- bignumber.js@9.0.0 extraneous
+-- express@4.18.2
+-- isarray@0.0.1 extraneous
+-- mysql-server@1.0.5
+-- mysql2@3.6.5
+-- nodemon@3.0.2
+-- prettier@3.1.1
+-- process-nextick-args@2.0.1 extraneous
+-- readable-stream@1.0.34 extraneous
+-- sqlstring@2.3.3 extraneous
+-- string_decoder@0.10.31 extraneous
+-- typescript@5.3.3
`-- util-deprecate@1.0.2 extraneous

