<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <title>Document</title>

    <!-- video recgnition -->
    <!-- Βίντεο από τον χρήστη <a href="https://pixabay.com/el/users/humanoidevfx-12661853/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=25689">Humanoide VFX</a> από το <a href="https://pixabay.com/el//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=25689">Pixabay</a> -->
  </head>
  <body>
    <!-- <img class="bg-img" src="videos/photo-7752699.jpg" alt="not loaded"/> -->

    <!-- <div class="hamburger-menu">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
    </div> -->

    <div id="soundbar">
      <div id="progress-bar"></div>
      <div id="controls">
        <button id="playBtn">&#9658;</button>
        <button id="muteBtn">&#128263;</button>
      </div>
    </div>
    <audio
      id="audioPlayer"
      src="/music/Kiki's Delivery Service - Umi No Mieru Machi Piano.mp3"
    >
      Your browser does not support the audio element.
    </audio>

    <div id="nav-container">
      <!-- // CREATE A SOOT LOGO, SIMPLE, FROM SPIRITED AWAY -->
      <div class="logo-container">
        <img
          class="logo-img"
          src="logos/Untitled design.png"
          alt="not loaded"
        />
        <h4 class="logo-text">Soot</h4>
      </div>
      <div class="nav-container">
        <nav>
          <ul class="ul-nav">
            <li class="home"><a class="home-text" href="/home">Home</a></li>
            <li class="shop"><a id="style-5" href="/shop">Shop</a></li>
            <!-- <li class="contact"><a id="style-5" href="contact.html">Contact</a></li> -->
            <!-- <li class="about"><a id="style-5"href="about.html">About</a></li> -->
            <li class="signup"><a id="style-5" href="/signup">Signup</a></li>
            <li class="Support">
              <a id="style-5" href="/about">Support</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <article class="intro">
      <p class="intro-text">
        <!-- and I am not just a website developer; I am a digital craftsman, a visionary architect of the virtual realm. With a passion for weaving code into captivating designs, I bring your wildest web dreams to life. As a relentless explorer of cutting-edge technologies and a connoisseur of user experience, I strive to create online spaces that leave visitors spellbound and eager to explore further. From elegant aesthetics to seamless functionality, I meticulously craft websites that become a seamless extension of your brand's identity. Join me on this digital odyssey, where the possibilities are limitless, and together, we shall build the online future. Welcome to the digital realm of endless possibilities!
             -->
        "Winter Limited Sale 50% off all stocked products & art"
      </p>
    </article>
    <section>
      <video class="mp4" autoplay loop muted poster="videos/animevid.mp4">
        <source src="videos/animevid.mp4" type="video/mp4" />
      </video>
    </section>

    <!-- test -->
    <div class="gallery">
      <div class="container">
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8314875.jpg"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">Studio Inspired Art Pieces</p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8294112.png"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8205345.jpg"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8294122.png"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8294197.png"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8294193.png"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
        <div class="gallery-container">
          <img
            class="gallery-img"
            src="videos/ai-generated-8291003.png"
            alt="not loaded"
          />
          <div class="overlay">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              doloribus!
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <!-- social media links -->
        <ul class="ul-socials">
          <li>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true">
                <img
                  width="45px"
                  class="fb-img"
                  src="logos/archive/icons/5279111_social network_fb_social media_facebook logo_facebook_network_fb_facebook_fcb_social media_network_facebook logo.svg"
                />
              </i>
            </a>
            <h1 class="text-socials">Facebook</h1>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true">
                <img
                  width="45px"
                  class="fb-img"
                  src="logos/archive/icons/5279112_social media_insta_instagram logo_social network_instagram_camera.svg"
                />
              </i>
            </a>
            <h1 class="text-socials">Instagram</h1>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true">
                <img
                  width="45px"
                  class="fb-img"
                  src="logos/archive/icons/5279116_inspiration_pinterest logo_pinterest_pin_social network_social media.svg"
                />
              </i>
            </a>
            <h1 class="text-socials">Pinterest</h1>
          </li>
        </ul>

        <!-- past projects links -->
        <div class="past-projects">
          <h2>Past Projects</h2>
          <ul class="info">
            <li>
              <a href="#">
                <h1 class="text-socials">project 1</h1>
              </a>
            </li>
            <li>
              <a href="#">
                <h1 class="text-socials">project 2</h1>
              </a>
            </li>
            <li>
              <a href="#">
                <h1 class="text-socials">project 2</h1>
              </a>
            </li>
          </ul>
        </div>

        <!-- contact info -->
        <div class="footer-contact">
          <ul class="info-socials">
            <li>
              <span><i class="fas fa-map-marker-alt"></i></span>
              <span
                >13335 Hartzog Road<br />
                Winter Garden, Florida<br />
              </span>
            </li>
            <li>
              <span><i class="fas fa-phone-alt"></i></span>
              <p>
                <a href="#">(123) 456-7890</a><br />
                <a href="#">(123) 456-7890</a>
              </p>
            </li>
            <li>
              <span><i class="fas fa-envelope"></i></span>
              <p><a href="#">loremipsum@gmail</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>

  <script src="routes/users.js"></script>
  <!-- <script type="text/javascript">
    document.querySelector(".mp4juju").removeAttribute("loop");
    document.querySelector(".mp4juju").playbackRate = 0.7;
  </script> -->
  <script
    src="//code.jquery.com/jquery-latest.min.js"
    type="text/javascript"
  ></script>
  <script src="js/script.js"></script>
</html>
