/* Global Styles */
:root {
  --nav-height: 100px;
  --sub-header-height: 50px;
  --link-1: #d65472;
  --link-2: #37c5f0;
  --link-3: #e0a458;
  --colour-1: #000000;
  --text: #18272f;
  --counter: #30b67d;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Modal screen */
.home-section {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.home-section::before {
  content: '';
  position: fixed; /* Changed to fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home-section.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* Modal form */
.modal {
  position: fixed;
  max-width: 450px;
  min-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home-section.show .modal {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
#signup_form {
  display: none;
}
.modal.active #signup_form {
  display: block;
}
.modal.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.modal h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input-group {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input-group input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input-group input:focus {
  border-color: #7d2ae8;
}
.input-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input-group i.email,
.input-group i.profileIcon {
  left: 0;
}
.input-group i.password {
  left: 0;
}
.input-group input:focus ~ i.email,
.input-group input:focus ~ i.password {
  color: #7d2ae8;
}
.input-group i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.checkbox-group {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal a {
  color: #7d2ae8;
  font-size: 12px;
}
.modal a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.form-button .checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.modal .form-button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.form-button {
  font-family: 'Cormorant Garamond', serif;
  padding: 12px 35px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.form-button:active {
  transform: scale(0.98);
}

.validation-message {
  color: red;
}

/* navbar */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 11;
  background-color: #f7ecec;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  z-index: 1;
}

.logo-text-container {
  background: #1f1e1e;
  padding: 12px;
  border-radius: 16px;
}

.logo-text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 5px;
}

.logo-img {
  width: 100px;
  z-index: 1;
}

.nav {
  display: flex; /* Inherited from parent */
  align-items: center;
  height: var(--nav-height);
  z-index: 2;
  margin-right: 50px; /* Added for right positioning */
}

.nav-list {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.nav-item {
  padding: 10px 30px;
  border-radius: 10px;
}

.nav-list a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
}

.nav-list a:active {
}

.nav-button {
  font-weight: bold;
  margin-left: 35px;
  padding: 12px 35px;
  border: 2px solid #fff;
  color: #fff;
  background: #d36464;
  border-radius: 6px;
  cursor: pointer;
}
.nav-button:active {
  transform: scale(0.98);
}

/* sub header below nav */
.sub-header {
  position: relative;
  top: var(--nav-height);
  height: var(--sub-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdaa6c;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  font-size: 1.1rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.text {
  width: 70%;
  display: flex;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

/* shop */
.main-container {
  display: flex;
  margin: 120px 20px 20px 20px;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Filters Container */
.filters-container {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -300px; /* Collapsed position */
  width: 300px; /* Fixed width */
  height: calc(
    100vh - var(--nav-height) - var(--sub-header-height)
  ); /* Adjust height to stay within viewport */
  overflow-y: auto; /* Scrollable if content exceeds height */
  transition: left 0.3s ease-in-out;
}

.filters-container.expanded {
  left: 0; /* keeps items in right position */
}

.filter-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #444;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group select,
.filter-group input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.price-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-slider-container input[type='range'] {
  width: 45%;
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.apply-filters-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7d2ae8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-filters-btn:hover {
  background-color: #5a1bbd;
}

/* Filter Toggle Button */
.filter-toggle {
  position: fixed;
  /* top: var(--nav-height) + var(--sub-header-height); Adjust the top position */
  height: calc(100vh - var(--nav-height) - var(--sub-header-height) - 50px);
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
  z-index: 10;
  transition: left 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.filter-toggle:hover {
  background-color: #37c5f0;
}

.filter-toggle .icon {
  font-size: 18px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

/* Rotate the icon when expanded */
.filters-container.expanded + .filter-toggle .icon {
  transform: rotate(180deg);
}

/* Shop Container */
.shop-container {
  margin-left: 20px;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

/* Shop Grid */
.shop-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid layout */
  gap: 25px;
  margin: 15px;
  max-width: 1200px; /* Limit the maximum width */
  width: 100%; /* Ensure it takes full width up to the max-width */
}

.shop-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}

.shop-item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.shop-item img {
  width: 100%;
  height: auto;
}

.shop-item .item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.shop-item .item-caption {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.shop-item .item-price {
  position: relative;
  font-size: 14px;
  color: #000000;
}

.shop-item a {
  text-decoration: none;
  color: #000;
}

/* fashion sizes */
.sizes-inner-container {
  position: relative;
  height: 0; /* Initially collapsed */
  overflow: hidden; /* Hide overflow content */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 10px;
  opacity: 0; /* Initially hidden */
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease; /* Transition for expanding effect */
}

.shop-item:hover .sizes-inner-container {
  opacity: 1; /* Make it visible */
  height: 50px;
  padding: 10px;
}

.size-item {
  color: #000000;
  background-color: #ffffff;
  border: #000 1px solid;
  width: 40px; /* Set the width to a fixed value */
  height: 40px; /* Set the height to match the width */
  display: flex; /* Use flexbox to center the text */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
  position: relative; /* To position the strike-through line */
}

.size-item.out-of-stock {
  background-color: #d3646470; /* Grey background for out-of-stock items */
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

.size-item.out-of-stock::after {
  content: '';
  position: absolute;
  width: 2px; /* Width of the strike-through line */
  height: 40px; /* Match the height of the circle */
  background-color: rgb(250, 0, 0); /* Color of the strike-through line */
  transform: rotate(45deg); /* Rotate the line to create a cross effect */
  top: 0; /* Position at the top of the circle */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) rotate(45deg); /* Center the line and rotate */
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 20px;
  background-color: #7d2ae8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-btn:hover {
  background-color: #5a1bbd;
}

#pageNumber {
  font-size: 16px;
}

:root {
  --link-1: #d65472;
  --link-2: #37c5f0;
  --link-3: #e0a458;
  --colour-1: #000000;
  --text: #18272f;
  --counter: #30b67d;
}

#style-5 {
  position: relative;
  font-weight: bold;
  color: #000;
}
#style-5::before {
  content: '';
  color: #000;
  background: #bdaa6c;
  position: absolute;
  left: 0.5rem;
  top: 20px;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#style-5:hover::before {
  left: -15px;
  top: -10px;
  bottom: 0px;
  height: 100%;
  width: calc(100% + 10px);
  border-radius: 30px;
  padding: 10px;
  background: #bdaa6c;
}

.dots {
  transition: 0.5s ease-in-out;
}

/* PROFILE MANAGEMENT PAGE */
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  background-color: #7c9887f5;
  border-top: #000 1px solid;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  font-size: 1.1rem;
  color: #fcfcfc;
  text-transform: uppercase;
  padding: 5rem;
  width: 100%;
  height: calc(
    100vh - 100px
  ); /* Adjust the subtraction based on the top offset */
}

.profile-aside {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  font-size: 1.1rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  width: 25%;
  height: 100%;
  margin-right: 20px;
}

.profile-aside-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
  list-style: none;
  color: #000;
  line-height: 40px;
}

.profile-aside-list a {
  text-decoration: none;
  color: #000;
}

.profile-container {
  display: flex;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  font-size: 1.1rem;
  color: #000;
  text-transform: uppercase;
  border-radius: 10px;
  width: 65%;
  height: 100%;
}

.profile-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 50px;
  padding-top: 30px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  line-height: 40px;
}

/* hides the edit button and reveals the cancel and apply button */
.hidden {
  display: none;
}

/* Carousel Styles */
.carousel {
  position: relative;
  width: 100%;
  top: 105px;
  height: calc(100vh - var(--nav-height) - var(--sub-header-height));
  overflow: hidden;
  border-top: #bd7c6c 5px solid;
  margin-bottom: 120px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image Position Adjustments */
.carousel-item:nth-child(1) img {
  object-position: 50% 56%;
}

.carousel-item:nth-child(2) img {
  object-position: 50% 30%;
}

.carousel-item:nth-child(3) img {
  object-position: 50% 48%;
}

.carousel-dots {
  position: absolute;
  bottom: 50%;
  right: 20px; /* Adjust as needed to position the dots on the left */
  transform: translateY(50%);
  display: flex;
  flex-direction: column; /* Arrange dots vertically */
  gap: 10px;
}

.carousel-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #ddd; /* Adjust as needed */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Add transition for fading effect */
}

.carousel-dots .dot.active {
  background-color: #333; /* Adjust as needed */
}

/* Shopping Box Styles */
.shopping-box {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #392929;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  letter-spacing: 0.1em;
}

.shopping-box:hover {
  transform: translate(-50%, -50%) scale(0.95);
  cursor: pointer;
}

.shopping-box:hover ~ .scroll-btn {
  background-color: #b8f9e7;
  transform: translateX(-50%) scale(1.1); /* Slight scaling on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Scroll Button Styles */
.scroll-btn {
  position: absolute;
  top: 45%;
  left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  padding: 8px 20px;
  color: #000;
  border: none;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll-btn:hover {
  background-color: #b8f9e7;
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.categories-carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev-btn {
  left: 0;
  z-index: 10;
}

.next-btn {
  right: 0;
  z-index: 10;
}

.categories-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: visible; /* Allow overflow to be visible */
}

.category {
  display: flex;
  flex: 0 0 320px; /* Adjust the width as needed */
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-align: center;
  position: relative;
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow: visible; /* Allow overflow to be visible */
}

.category img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px; /* Optional: rounded corners */
  cursor: pointer;
}

.category a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px; /* Match the img border-radius */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.category .shop-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  border-radius: 10px; /* Match the img border-radius */
  opacity: 0; /* Initially hide the text */
  visibility: hidden; /* Ensure the text doesn't occupy space */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 2; /* Ensure the overlay is above the image */
}

.category:hover .shop-text {
  opacity: 1; /* Show the text */
  visibility: visible; /* Make the text visible */
}

.categories-container.hovered .category {
  opacity: 0.5;
}

.categories-container.hovered .category.active {
  opacity: 1 !important;
  /* transform: scale(1.05); */
  transition: transform 0.5s ease-in-out;
}

.category-name {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Mailing Banner */
.mail-container {
  display: flex;
  justify-content: space-evenly; /* Ensure equal spacing between children */
  align-items: stretch; /* Ensures the children stretch to the full height */
  width: 100%;
  height: 500px;
  box-sizing: border-box; /* Ensures padding does not affect total width */
}

.mail-container .mail-text-wrapper,
.mail-container .img-wrapper {
  width: 47.5%; /* Ensure the wrapper size allows for equal spacing */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.mail-container .mail-text {
  width: 100%; /* Full width within wrapper */
  height: 100%;
  background: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding does not affect width */
}

.mail-text h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.mail-text .mailing-form {
  display: flex;
  flex-direction: column; /* Ensure column layout */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mailing-form input {
  width: 55%; /* Adjust input width */
  padding: 10px;
  margin: 20px 0 15px 0;
  border: none;
  border-radius: 3px;
}

.mailing-form button {
  width: 65%; /* Adjust button width */
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: #37c5f0;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Optional: rounded corners */
  object-position: 50% 24%;
}

/* FOOTER*/

/* social media */
.ul-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  background-color: #000;
  margin-top: 25px;
  height: 120px;
}

.a-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  word-spacing: 10px;
}

.ul-socials li:hover {
  transform: translate(0, -5px);
  transition: 0.5s ease-in-out;
}

.text-socials {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  padding-left: 10px;
}

.footer {
  width: 100%;
  background: #000;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  margin: 0 20px;
}

.about-col {
  max-width: 400px;
}

.footer-heading,
.contact-heading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-text,
.contact-content {
  font-size: 1rem;
  color: #fff;
}

.ul-contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.li-contact {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.contact-content span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-content a:hover {
  color: #fff;
}

.fas {
  margin-right: 10px;
}
